.chat-box {
  position: relative;
  line-height: 24px;
  width: 50vw;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

// chatLogWrapper
.chat-list-container {
  height: 75vh;
  overflow-y: auto;
  width: 100%;

  .chatLog:nth-last-of-type(1) {
    margin-bottom: 30px;
  }

  &.chat-list-container-for-generate {
    .chatLog:nth-last-of-type(1) {
      margin-bottom: 80px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .chat-list-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
    }
}

.bot-response-control-container {
  display: flex;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: 2px;
  left: 0;
  padding-top: 0;
  margin-top: 0;
}

.floating-title {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 9999;
}

.draftMessage {
  font-size: 14px;
}

.draftUrl {
  text-decoration: none;
  color: #224f99;
  font-weight: bold;
  padding: 8px;
  margin-left: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.draftUrl:hover {
  background-color: #eaeaea;
}
