@media only screen and (max-width: 1024px) {
  .device--logout__container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 780px) {
  .device--logout__container {
    flex-direction: column !important;
    align-items: start !important;
    gap: 5px;
  }
}